**/.DS_Store
**/.git
**/.gitignore
**/bin
**/obj
**/node_modules
**/dist
**/coverage
**/TestResults
**/playwright-report
**/test-results
**/.env
**/.env.*
!**/.env.example
showcase
docs
tests
.github
**/*.user
**/*.suo
backups
secrets
*.pem
*.key
.vs
.vscode
